<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Full Width Pics - Start Bootstrap Template</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="static/media/favicon.ico" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="static/css/styles.css" rel="stylesheet" />
        
        <style>
            @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
            </style>
    </head>
    <body oncontextmenu="return false" style="font-family: 'Montserrat', sans-serif;">
        <!-- Responsive navbar-->
        <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
            <div class="container" >
                <a class="navbar-brand" href="#home" > Ocloen</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item"><a class="nav-link " aria-current="page" href="#services">Services</a></li>
                        <li class="nav-item"><a class="nav-link" href="#about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="#contact">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        
        <div class="video-background-holder">
            <div class="video-background-overlay"></div>
            <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
                  <source src="static/media/yo.mp4" type="video/mp4">
              </video>
            <div class="video-background-content container h-100">
              <div class="d-flex h-100 text-center align-items-center">
                <div class="w-100 text-white">
                    <img class="img-fluid rounded-circle mb-4" src="static/media/icon2.png" alt="..." />
                  <h1 class="display-4" style="color: red;"> We help secure the future !</h1>
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="w-100 p-3 " style="background-color: black;"></div>
      <div class="w-100 p-3" style="background-color: black;">  
            <div class="container justify-content-center text-center item" style="background-color: black;">    
                    
                <h1 class="featurette-heading " style="margin-top: 5%; color: red;" id="services">We offer the following services</h1>
                    <div class="col-sm-7 text-center">
                    </div>
            </div>       
        </div>

    <div class="w-100 p-3 " style="background-color: black;">  
        <div class="container " >    
            <div class="row item" style="margin-top: 5%; margin-bottom: 5%; background-color: black; ">
                <div class="col-sm-5 ">
                     <img class="featurette-image img-responsive center-block" src="static/media/eye.png" height="200px" width="200px" alt="Generic placeholder image" style="display: block;
                     margin-left: auto;
                     margin-right: auto;
                     margin-top: auto;
                     margin-bottom: auto;">
                </div>
                <div class="col-sm-7">
                    <h2 class="featurette-heading" style="margin-top: 5%; color: red; font-family: 'Montserrat', sans-serif;" >Multidimensional server penetration testing </h2>
                        <p style="color: #4AF626;font-family: 'Montserrat', sans-serif; ">
                        To make sure that the servers that you are running your services on are secure enough, we will perform multiple deep footprinting and reconnaissance techniques before starting to penetrate through your system. You could use our 'Server penetration testing' service to test the security of your web servers, DNS servers, SMTP, cloud, etc etc.
                        </p>
                </div>
            </div>
        </div>       
    </div>




    <section style="position: relative;">
        <div class="custom-shape-divider-bottom-1639163141 item" style="background-color: #2d1d52;">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
               <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
            </svg>
        </div>
    </section>

        <div class="w-100 p-3 " style="background-color: #2d1d52;">
        <div class="container">
            <div class="row item" style="margin-top: 5%; margin-bottom: 5%; background-color: #2d1d52;">
                <div class="col-sm-7">
                    <h2 class="featurette-heading" style="margin-top: 5%; color: red; font-family: 'Montserrat', sans-serif;" >Web application penetration testing </h2>
                     <p style="color: #4AF626;">If you want to find out about any underlying vulnerability in your web-app that could put your website in danger, we provide web application penetration testing services which involves trying various automated and manual web application attacks.
                    </p>
                </div>
                <div class="col-sm-5">
                    <img class="featurette-image img-responsive center-block" src="static/media/webapp-hacking.png" height="150px" width="291px" alt="Generic placeholder image" style="display: block;
                    margin-left: auto;
                    margin-right: auto;
                    -webkit-filter: invert(100%); /* Safari/Chrome */
                    filter: invert(70%);
                    margin-top: auto;
                    margin-bottom: auto;">
               </div>
            </div>
        </div>
        </div>

        
        <section style="position: relative;" >
            <div class="custom-shape-divider-bottom-1639180804 item" style="background-color: #2d1d52;">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
                </svg>
            </div>
        </section>


        <div class="w-100 p-3 " style="background-color: black;">
        <div class="container" >    
            <div class="row item " style="margin-top: 5%; margin-bottom: 5%; background-color: black;">
                <div class="col-sm-5">
                     <img class="featurette-image img-responsive center-block" src="static/media/phishing-image.png" height="200px" width="259px" alt="Generic placeholder image" style="display: block;
                     margin-left: auto;
                     margin-right: auto;
                     margin-top: auto;
                     filter: grayscale(50%);
                     border-radius: 10%;
                     margin-bottom: auto;">
                </div>
                <div class="col-sm-7">
                    <h2 class="featurette-heading" style="margin-top: 5%; color: red; font-family: 'Montserrat', sans-serif;" >Social engineering and exploitation </h2>
                     <p style="color: #4AF626;">
                        If you can communicate with it, you can hack it, and yes! People are included too! If you want to find out whether your employees could compromise your business by not being cautious enough, we provide social engineering and phishing services, since these kinds of attacks are becoming increasingly common.
              </p>
                </div>
            </div>
        </div>
        </div>

        <section style="position: relative;" >
            <div class="custom-shape-divider-bottom-1639163141">
                <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                    <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
                </svg>
            </div>
        </section>

        <div class="w-100 p-3 " style="background-color: #2d1d52;" >
        <div class="container">
            <div class="row item" style="margin-top: 5%; margin-bottom: 5%; background-color: #2d1d52;">
                <div class="col-sm-7">
                    <h2 class="featurette-heading" style="margin-top: 5%; color: red; font-family: 'Montserrat', sans-serif;" >Secure app developement </h2>
                     <p style="color: #4AF626;">
                        We provide full-stack web development services at a very professional level. While we are developing our webapps, our main concern is to make them as secure and well functioning as possible by using various secure coding techniques.
          Each app that we make is provided with a full vulnerability assessment to be sure that we clear out as many security flaws as humanly possible.
                </p>
                </div>
                <div class="col-sm-5">
                    <img class="featurette-image img-responsive center-block" src="static/media/webapp-dev.png" height="225px" width="225px" alt="Generic placeholder image" style="display: block;
                    margin-left: auto;
                    margin-right: auto;
                    margin-top: auto;
                    margin-bottom: auto;">
               </div>
            </div>
            </div>
            </div>
        </div>


        <section style="position: relative;" >
        <div class="custom-shape-divider-top-1639181368">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
                <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
                <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
            </svg>
        </div>
        </section>


        <section class="py-1" style="background-color: black;" id="about">
            
            
            <div class="container my-5" >
                <div class="row justify-content-center">
                    <div class="col-lg-6 item" style="background-color:black;">
                        <h1 style="color: red; padding-top: 5%;">So who are we ?</h1>
                        <p class="lead" style="color: #4AF626;">
                            We are a team of developers who are mainly concerned with cybersecurity and with writing secure code. We believe that any public app or service of any form should be checked for potential vulnerabilities that could cost the deployer resources and benefit the potential hacker. However no one knows whether their code is fully secure or not until they get hacked. All of our services have one aim, which is to create a technological future where cybersecurity is not a major concern for you.
                    </p>

                        <!--p class="mb-0">The universe is almost 14 billion years old, and, wow! Life had no problem starting here on Earth! I think it would be inexcusably egocentric of us to suggest that we're alone in the universe.</p-->
                    </div>
                </div>
            </div>
            
        </section>  
        <div class="w-100 p-3 " style="background-color: black;"></div>
        <div class="w-100 p-3" style="background-color: black;">  
            <div class="container justify-content-center text-center item" style="background-color: black;">    
                    
                <h1 class="featurette-heading " style="margin-top: 5%; color: red;" >Contact and/or Hire us</h1>
                    <div class="col-sm-7 text-center">
                    </div>
            </div>       
        </div>

        <!-- Content section-->
        <section class="py-1" id="contact" style="background: linear-gradient(to bottom, #000000 0%, #212529 100%);" >
            
            
            <div class="container my-10 " style="background: linear-gradient(to bottom, #000000 0%, #212529 100%);">
                <div class="row justify-content-center">
                    <div class="col-lg-6" >

                    <form style="color: white;">
                        
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" style="background-color: black;  color: #4AF626; border-color: #4AF626;" id="exampleInputEmail1" aria-describedby="emailHelp">
                        </div>
                        
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Organisation/Personal name</label>
                            <input class="form-control" style="background-color: black;  color: #4AF626; border-color: #4AF626;" type="text" aria-label="default input example">
                        </div>
                        
                        <div class="mb-3">
                            <label for="exampleDataList" class="form-label">Service of intrest</label>
                            
                            <input class="form-control" list="datalistOptions" id="exampleDataList" style="background-color: black;  color: #4AF626; border-color: #4AF626;">
                            
                            <div id="emailHelp" class="form-text" style="color: red;">If you are contacting us for a special service that is not listed, please write it!</div>
                            
                            <datalist id="datalistOptions">
                            <option value="Multidimensional server penetration testing">
                            <option value="Web application penetration testing">
                            <option value="Social engineering and exploitation">
                            <option value="Secure app developement">
                            <option value="Other">
                            </datalist>
                        </div>
                        
                        <div class="mb-3">
                            <div id="emailHelp" class="form-text" style="color: red;">We promise to never share your information with anyone else.</div>
                        </div>

                        <div class="form-row text-center">
                            <div class="col-12">
                                <button type="submit" class="btn btn-primary">Submit</button>
                            </div>
                         </div>
                    </form>
                </div>
            </div>
            </div>
        </section>  
        



          <script>
          // http://www.appelsiini.net/projects/viewport
          // http://remysharp.com/2009/01/26/element-in-view-event-plugin/
          // https://github.com/cobbweb/jquery.scrollwatch
          document.onkeydown = function(e) {
                if(event.keyCode == 123) {
                    return false;
                }
                if(e.ctrlKey && e.shiftKey && e.keyCode == 'I'.charCodeAt(0)) {
                    return false;
                }
                if(e.ctrlKey && e.shiftKey && e.keyCode == 'C'.charCodeAt(0)) {
                    return false;
                }
                if(e.ctrlKey && e.shiftKey && e.keyCode == 'J'.charCodeAt(0)) {
                    return false;
                }
                if(e.ctrlKey && e.keyCode == 'U'.charCodeAt(0)) {
                    return false;
                }
            }   
        
          var WINDOW_WIDTH = window.innerWidth || document.documentElement.clientWidth;
          var WINDOW_HEIGHT = window.innerHeight || document.documentElement.clientHeight;
          
          var ScrollMonitor = function (options) {
              this.items = [];
              this.options = {};
          
              for (var key in options) {
                  this.options[key] = options[key];
              }
          };
          
          ScrollMonitor.prototype.add = function (node, options) {
              var gap = options.gap || 0;
              this.items.push({
                  node: node,
                  gap: +gap === gap ? [gap, gap, gap, gap] : gap,
                  callbacks: {
                      step: options.step || function (node, distance) {},
                      enter: options.enter || function (node, distance) {},
                      leave: options.leave || function (node, distance) {}
                  }
              });
              
              this.resize();
          };
          
          ScrollMonitor.prototype.resize = function () {
              WINDOW_WIDTH = window.innerWidth || document.documentElement.clientWidth;
              WINDOW_HEIGHT = window.innerHeight || document.documentElement.clientHeight;
          
              for (var i = 0; i < this.items.length; i++) {
                  var node = this.items[i].node;
                  this.items[i].rect = {
                      top: node.offsetTop,
                      left: node.offsetLeft,
                      width: node.clientWidth,
                      height: node.clientHeight
                  };
              }
          };
          
          ScrollMonitor.prototype.scroll = function (scrollX, scrollY) {
          
              for (var i = 0; i < this.items.length; i++) {
                  var item = this.items[i];
                  var rect = item.rect;
                  var gap = item.gap;
          
                  var distance = {
                      top: (rect.top + rect.height) - scrollY,
                      left: (rect.left + rect.width) - scrollX,
                      right: rect.left - (WINDOW_WIDTH + scrollX),
                      bottom: rect.top - (WINDOW_HEIGHT + scrollY),
                  };
          
                  var inView = (distance.right < -gap[1] && distance.left > gap[3] && distance.bottom < -gap[2] && distance.top > gap[0]);
          
                  if (inView && !item.callbacks.once) {
                      item.callbacks.once = true;
                      item.callbacks.enter.call(this, item.node, distance);
                  }
          
                  if (!inView && item.callbacks.once) {
                      item.callbacks.once = false;
                      item.callbacks.leave.call(this, item.node, distance);
                  }
                  
                  item.callbacks.step.call(this, item.node, distance);
              }
          };
          
          var monitor = new ScrollMonitor();
          var nodeList = document.querySelectorAll('.item');
          
          for (var i = 0; i < nodeList.length; i++) {
              monitor.add(nodeList[i], {
                  gap: 0,
                  enter: function (node, distance) {
                      node.classList.add('in-view');
                  },
                  leave: function (node, distance) {
                      node.classList.remove('in-view');
                  }
              });
          }
          
          window.onscroll = function () { monitor.scroll(window.pageXOffset, window.pageYOffset); };
          window.onresize = function () { monitor.resize(); window.onscroll(); };
          
          window.onresize();
          </script>

        <!-- Footer-->
        <footer class="py-5 bg-dark">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Ocleon 2021</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="static/js/scripts.js"></script>
    </body>
</html>
